<div class="page-header">
  <h1>Таблица студентов</h1>
</div>

<div class="panel">
  <h2>Поиск студента</h2>
  <div class="form-inline">

    <div class="form-group">
      <div class="col-md-8">
        <input class="form-control" [(ngModel)]="firstname" placeholder="Имя" type="text">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <input class="form-control" [(ngModel)]="surname" placeholder="Фамилия">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">

<!--        <button-->
<!--          class="btn btn-default"-->
<!--          (click)="findItem(firstname, surname)"-->
<!--        >-->
<!--          Найти-->
<!--        </button>-->
      </div>
    </div>
  </div>

  <h2>Фильтрация по среднему баллу</h2>
  <div class="form-inline">
    <div class="form-group">
      <div class="col-md-8">
        <input class="form-control" [(ngModel)]="one" placeholder="От"        />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <input class="form-control" [(ngModel)]="two" placeholder="До"        />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <button
          class="btn btn-default"
          (click)="filterItem(one, two)"
        >
          Фильтр
        </button>
      </div>
    </div>
  </div>

  <h2>Фильтрация по дате рождения</h2>
  <div class="form-inline">
    <div class="form-group">
      <div class="col-md-8">
        <input class="form-control" type="date" [(ngModel)]="oneDate" placeholder="От"        />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <input class="form-control" type="date" [(ngModel)]="twoDate" placeholder="До"        />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <button
          class="btn btn-default"
          (click)="filterDateItem(oneDate, twoDate)"
        >
          Фильтр
        </button>
      </div>
    </div>
  </div>



  <table class="table table-striped" >
    <thead>
    <tr>
      <th><button (click)="filterColumnSurname()">Фамилия</button></th>
      <th><button (click)="filterColumnName()">Имя</button></th>
      <th><button (click)="filterColumnPatronymic()">Отчество</button></th>
      <th><button (click)="filterColumnBirth()">Дата рождения</button></th>
      <th><button (click)="filterColumnScore()">Средний балл</button></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of items; let i = index">
    <tr [ngClass]="{'red': onFilter(item)}" [ngStyle]="{backgroundColor: !trColor ? 'transparent' : (item.averageScore > 3) ? 'transparent' :  'red' }" >
      <td>{{ item.surname }}</td>
      <td >{{ item.name }}</td>
      <td>{{ item.patronymic }}</td>
      <td>{{ item.dateBirth | date:'shortDate'}}</td>
      <td>{{ item.averageScore }}</td>

      <td><button (click)="onEdit(item)" >Редактировать элемент</button>
      </td>


      <td><button (click)="deleteStudent(i)" >Удалить элемент</button>
        <div *ngIf="display" class="modal">
          <div class="modal-content">
            <p>Вы уверены что хотите удалить студента?</p>
            <div class="flexbox">
              <button (click)="yesDel(i)" >Да</button>
              <button (click)="noDel()">Нет</button>
            </div>
          </div>
        </div>
      </td>

    </tr>
    </ng-container>
    </tbody>
  </table>

  <div>
    <input type="checkbox" [(ngModel)]="trColor"> <label>Включить подсветку студентов со средним баллом ниже трех?</label>
  </div>

  <button class="add-stud" color="accent" (click)="onAdd()">Добавить студента</button>
</div>



<form-app *ngIf="formOpen" [item]="editItem" (exit)="closeForm()"></form-app>
